@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fc;
}

header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:40px;
}

header p{
    margin-top:10px;
    font-size:18px;
}

.subjects{
    width:90%;
    margin:40px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    text-decoration:none;
    color:#222;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    background:#2563eb;
    color:white;
    transform:translateY(-8px);
}

.card h2{
    margin-bottom:15px;
}

.card p{
    color:#666;
}

.card:hover p{
    color:white;
}